* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-drag: none;
  font-family: 'Roboto Mono', sans-serif
}

#gameboard {
    position: fixed;
    top:0px;
    left: 0px;
    z-index: -1;
}

body {
  background-color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.score-field {
  display: none;
}

.nanoModal.nanoModalOverride {
    position: fixed;
    top: 50%;
    right: 50%;
    left: auto !important;
  	transform: translate(50%,-50%) !important;
  	background: black !important;
  	margin-left: 0px !important;
}

.upgrade-container {
	display: none;
	position: fixed;
	right: 50%;
	top:20%;
	transform: translate(50%,-50%);
	text-align: center;
}
.upgrade {
	display: inline-block;
	font-size: 1.1em;
}

.death {
	text-shadow: 0 0 0.20833333vh #fe9300, 0 0 0.41666667vh #fe9300, 0 0 1.25vh #fe9300, 0 0 2.5vh #fe9300;
	color: orange;
	text-align: center;
}
.respawn {
	box-shadow: 0 0 0.20833333vh #fe9300, 0 0 0.41666667vh #fe9300, 0 0 1.25vh #fe9300, 0 0 2.5vh #fe9300;
	border: orange;
	outline: none;
	background: transparent;
	padding: 15px;
	cursor: pointer;
	font-size: 1em;
	border-radius: 10px;
}

body.playing .score-field {
  display: block;
}

.ui {
  width: 100vw;
  height: 100vh;
  background: transparent;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.13s;
  transition: 0.13s;
}

.ui.active {
  visibility: visible;
  opacity: 1;
}

.neon {
  text-shadow: 0 0 0.25vh #2ec4ff, 0 0 0.5vh #2ec4ff, 0 0 1.5vh #2ec4ff, 0 0 3vh #2ec4ff;
  color: lightblue;
}

.title {
  position: absolute;
  font-size: 8em;
  top: 25%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

#join-form {
  background-color: black;
  color: white;
  border-radius: 15px;
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 20px;
  text-align: center;
  bottom: 15vh;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1.7);
          transform: translateX(-50%) scale(1.7);
}

.navbar {
  background-color: black;
  color: white;
  -webkit-box-shadow: 0 0 0.2vh #2ec4ff, 0 0 0.4vh #2ec4ff, 0 0 1.2vh #2ec4ff, 0 0 2.4vh #2ec4ff;
          box-shadow: 0 0 0.2vh #2ec4ff, 0 0 0.4vh #2ec4ff, 0 0 1.2vh #2ec4ff, 0 0 2.4vh #2ec4ff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 2rem;
}

.submit {
  background-color: transparent;
  color: white;
  border: none;
  text-shadow: 0 0 0.1vh #2ec4ff, 0 0 0.2vh #2ec4ff, 0 0 0.6vh #2ec4ff, 0 0 1.2vh #2ec4ff;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.13s;
  transition: 0.13s;
}

.submit:hover {
  text-shadow: 0 0 0.2vh #2ec4ff, 0 0 0.4vh #2ec4ff, 0 0 1.2vh #2ec4ff, 0 0 2.4vh #2ec4ff;
}

.username {
  background-color: black;
  color: lightblue;
  border: 1px solid lightblue;
  -webkit-box-shadow: 0 0 0.1vh #2ec4ff, 0 0 0.2vh #2ec4ff, 0 0 0.6vh #2ec4ff, 0 0 1.2vh #2ec4ff;
          box-shadow: 0 0 0.1vh #2ec4ff, 0 0 0.2vh #2ec4ff, 0 0 0.6vh #2ec4ff, 0 0 1.2vh #2ec4ff;
  padding: 15px 30px;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: 0.13s;
  transition: 0.13s;
}

.username:focus {
  -webkit-box-shadow: 0 0 0.2vh #2ec4ff, 0 0 0.4vh #2ec4ff, 0 0 1.2vh #2ec4ff, 0 0 2.4vh #2ec4ff;
          box-shadow: 0 0 0.2vh #2ec4ff, 0 0 0.4vh #2ec4ff, 0 0 1.2vh #2ec4ff, 0 0 2.4vh #2ec4ff;
  outline: none;
}

.leaderboard {
  background-color: transparent;
  color: lightblue;
  text-shadow: 0 0 0.2vh #2ec4ff, 0 0 0.4vh #2ec4ff, 0 0 1.2vh #2ec4ff, 0 0 2.4vh #2ec4ff;
  position: fixed;
  top: 4rem;
  right: 1rem;
  width: 10rem;
  font-size:1.3em;
  font-weight: bold;
  display: none;
}

.leaderboard .lb-title {
  text-align: center;
}

.page-left, .page-right {
  position: fixed;
  top: 0;
  background-color: black;
  -webkit-box-shadow: 0 0 0.2vh #2ec4ff, 0 0 0.4vh #2ec4ff, 0 0 1.2vh #2ec4ff, 0 0 2.4vh #2ec4ff;
          box-shadow: 0 0 0.2vh #2ec4ff, 0 0 0.4vh #2ec4ff, 0 0 1.2vh #2ec4ff, 0 0 2.4vh #2ec4ff;
  width: 18vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.33s;
  transition: 0.33s;
  overflow: hidden;
}

.page-left .content, .page-right .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: black;
  color: white;
  opacity: 0;
  -webkit-transition: 0.33s;
  transition: 0.33s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-left.active, .page-right.active {
  -webkit-transform: translateX(0) skew(0);
          transform: translateX(0) skew(0);
}

.page-left.active .content, .page-right.active .content {
  opacity: 1;
}

.page-left {
  background-color: black; /* xD youre looking wrong place :facepalm:*/
  left: 0;
  -webkit-transform: translateX(-80%) skew(-2deg);
          transform: translateX(-80%) skew(-2deg);
}

.page-left .content {
  -webkit-transform: skew(0);
          transform: skew(0);
}

.page-right {
  right: 0;
  -webkit-transform: translateX(80%) skew(2deg);
          transform: translateX(80%) skew(2deg);
}

.page-right .content {
  -webkit-transform: skew(0);
          transform: skew(0);
}

.chat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.chat .messages-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
  padding: 10px;
  overflow: hidden;
}

.chat .messages-container .message {
  background-color: black;
  color: lightblue;
  text-shadow: 0 0 0.05vh #2ec4ff, 0 0 0.1vh #2ec4ff, 0 0 0.3vh #2ec4ff, 0 0 0.6vh #2ec4ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

.chat .messages-container .message .author {
  text-decoration: underline;
}

.chat .messages-container .message .message-content {
  padding: 10px;
}

.chat .messages-container::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(black 15%, rgba(0, 0, 0, 0) 100%);
}

.chat .message-input {
  border-top: 1px solid #2ec4ff;
  min-height: 70px;
  line-height: 70px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message {
    -webkit-box-shadow: 0 0 0.2vh #2ec4ff, 0 0 0.4vh #2ec4ff, 0 0 1.2vh #2ec4ff, 0 0 2.4vh #2ec4ff;
          box-shadow: 0 0 0.2vh #2ec4ff, 0 0 0.4vh #2ec4ff, 0 0 1.2vh #2ec4ff, 0 0 2.4vh #2ec4ff;
}

.chat .message-input input[type="text"] {
  background-color: black;
  color: lightblue;
  border: none;
  padding: 10px 20px;
}

.chat .message-input input[type="text"]:focus {
  outline: none;
}

.chat .message-input input[type="submit"] {
  background-color: black;
  color: lightblue;
  border: none;
  border-top: 1px solid #2ec4ff;
  text-shadow: 0 0 0.1vh #2ec4ff, 0 0 0.2vh #2ec4ff, 0 0 0.6vh #2ec4ff, 0 0 1.2vh #2ec4ff;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: 0.13s;
  transition: 0.13s;
}

.chat .message-input input[type="submit"]:hover {
  text-shadow: 0 0 0.2vh #2ec4ff, 0 0 0.4vh #2ec4ff, 0 0 1.2vh #2ec4ff, 0 0 2.4vh #2ec4ff;
}

.lb-score {
    float: right;
}

/*# sourceMappingURL=style.css.map */