* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-drag: none;
}

body {
	background-color: black;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: 'Courier New', monospace;
}

.nanoModal.nanoModalOverride {
    position: fixed;
    top: 50%;
    right: 50%;
    left: auto !important;
  	transform: translate(50%,-50%) !important;
  	background: black !important;
  	margin-left: 0px !important;
}

.ui {
	width: 100vw;
	height: 100vh;
	background: transparent;
}

.name_main {
	width: 50%;
	border: 3px solid lime;
	border-radius: 50rem;
	height: 20%;
	color: blue;
	outline: none;
	opacity: 0.7;
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
	box-shadow: 0 0 0.2vh #2ec4ff, 0 0 0.4vh #2ec4ff, 0 0 1.2vh #2ec4ff, 0 0 2.4vh #2ec4ff, inset 0 0 0.2vh #2ec4ff, inset 0 0 0.4vh #2ec4ff, inset 0 0 1.2vh #2ec4ff, inset 0 0 2.4vh #2ec4ff;
	text-align: center;
}

.death {
	text-shadow: 0 0 0.20833333vh #fe9300, 0 0 0.41666667vh #fe9300, 0 0 1.25vh #fe9300, 0 0 2.5vh #fe9300;
	color: orange;
	text-align: center;
}
.respawn {
	box-shadow: 0 0 0.20833333vh #fe9300, 0 0 0.41666667vh #fe9300, 0 0 1.25vh #fe9300, 0 0 2.5vh #fe9300;
	border: orange;
	outline: none;
	background: transparent;
	padding: 15px;
	cursor: pointer;
	font-size: 1em;
	border-radius: 10px;
}

.neon {
	text-shadow: 0 0 0.25vh #2ec4ff, 0 0 0.5vh #2ec4ff, 0 0 1.5vh #2ec4ff, 0 0 3vh #2ec4ff;
	color: lightblue;
}

.title {
	position: fixed;
	font-size: 8em;
	top: 25%; right: 50%;
  	transform: translate(50%,-50%);
}

#form-foo {
	position: absolute;
  	width: 100%;
  	height: 100vh;
}

.box {
	text-align: center;
	position: absolute;
	font-size: 2em;
	top: 50%; right: 50%;
  	transform: translate(50%,-50%);
}

.cc {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 5px;
}

.top-bar {
	position: fixed;
	top: 0em;
	left: 0px;
	width: 100%;
	height: 3rem;
	border-bottom: 3px solid lightblue;
	box-shadow: 0 0 0.2vh #2ec4ff, 0 0 0.4vh #2ec4ff, 0 0 1.2vh #2ec4ff, 0 0 2.4vh #2ec4ff;
}

.leaderboard {
	position: fixed;
	width: 300px;
	font-size: 1.25em;
	text-align: center;
	right:0px;
	top: 3.5rem;
}

.chat {
	position: fixed;
	width: 300px;
	height: 300px;
	left: 0px;
	top: 3.5rem;
	border: 3px solid lightblue;
	box-shadow: 0 0 0.2vh #2ec4ff, 0 0 0.4vh #2ec4ff, 0 0 1.2vh #2ec4ff, 0 0 2.4vh #2ec4ff;
	z-index: 2;
	overflow-y: scroll;
	background: black;
}

.chatinput {
	position: fixed;
	margin-top: 3.75rem;
	top:300px;
	width: 300px;
	border: 3px solid lightblue;
	color: lightblue;
	background: black;
	z-index:2;
	outline: none;
}

.upgrade-container {
	display: none;
	position: fixed;
	right: 50%;
	top:20%;
	transform: translate(50%,-50%);
	text-align: center;
}
.upgrade {
	display: inline-block;
	font-size: 1.1em;
}

.unameinput {
	border: 3px solid lightblue;
	color: lightblue;
	background: black;
	z-index:2;
	outline: none;
	padding: 15px;
	border-radius: 10px;
	text-align: center;
	font-size: 1em;
}

/*# sourceMappingURL=style.css.map */